<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <nav>
        <div class="nav-links">
            <a href="/notes" class="button">Personal Notes</a>
            <a href="/courses" class="button">Courses Taken</a>
            <a href="/subjects" class="button">Subjects Notes</a>
            <a href="/logout">Logout</a>
        </div>
        <!-- <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search Notes" required>
            <button type="submit">Search</button>
        </form> -->
    </nav>
</body>
</html>
