body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns items to the start and end of the container */
    padding: 0 20px; /* Add padding to create space between items and edges */
}

.nav-links a {
    text-decoration: none;
    color: #5cb85c;
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    margin-right: 10px;
}

/* Remove margin-right for the last link to prevent extra space */
.nav-links a:last-child {
    margin-right: 0;
}

.nav-links a:hover {
    background-color: #4cae4c;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #4cae4c;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

ul li {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul li h2 {
    margin: 0 0 10px;
    color: #333;
}

ul li p {
    margin: 0 0 10px;
    color: #555;
}

ul li small {
    display: block;
    margin-bottom: 10px;
    color: #888;
}

ul li a {
    color: #d9534f;
    text-decoration: none;
    margin-right: 10px;
}

ul li a:hover {
    text-decoration: underline;
}
